/* TEMPLATE STYLES */
.wmd-panel{
margin-right: 0px !important;
margin-left: 0px !important;
width: auto !important;
min-width: auto !important;
}

/*.view img, .view video {
    display: block !important;
    width: 100% !important;
    height: 85% !important;

}*/

/*.view{
  padding-top: 15px !important;
}
*/
body{
    background-color: #ecf0f1;
    padding-top: 70px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}



.comment-reply{
display: none;
}

.post-detail-item .img {
    width:80%;
}
.wmd-button-row 
{
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding: 0px;  
	height: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

font-family: 'Ubuntu', sans-serif;

.example-list li {
    display: inline;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
}

main {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.img-fluid {
	margin: 0 auto;
}


    
.btn-gplus:focus, .btn-gplus:hover {
    background-color: #e15f4f;
}

.bg-primary {
    background-color: #0d47a1!important;
}
/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */

.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}

.FlexEmbed:before {
  content: "";
  display: block;
  width: 100%;
}

.FlexEmbed--3by1:before {
  padding-bottom: 33.33333%;
}

.FlexEmbed--2by1:before {
  padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
  padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
  padding-bottom: 75%;
}

.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 0;
 /* max-height: 600px;
  max-width: 600px;*/
}