{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<div class='col-sm-8 col-sm-offset-2'>
<div class="card">
<div class="card-block">
<div class="media">
	<a class="media-left" href="#">
    <img width="60" height="60" class="circle" avatar="{{ comment.user.get_full_name }}">
  	</a>
  	<div class="media-body">
	<p><b><a>{{ comment.user.get_full_name }}</a></b> {{ comment.content }} <br><small class="text-muted">
	{{ comment.timestamp|timesince }} ago </small>{% if request.user == comment.user %} <a href='{{ comment.get_delete_url }}'> <small class="text-muted">| Delete </small></a> {% endif %}</p>
	<hr/>
</div>

<div>
{% for children_comment in comment.children %}
<blockquote>
	<a class="media-left" href="#">
    <img width="60" height="60" class="circle" avatar="{{ children_comment.user.get_full_name }}">
  	</a>
  	<div class="media-body">
	<p><b><a>{{ children_comment.user.get_full_name }}</a></b> {{ children_comment.content }} <br> 
	<small class="text-muted">{{ children_comment.timestamp|timesince }} ago | </small><small class="text-muted">{% if request.user == children_comment.user %} <a class="text-muted" href='{{ children_comment.get_delete_url }}'> Delete </a> {% endif %}</small></p>
</div>
	</blockquote>
{% endfor %}


<form method="POST" action="."> {% csrf_token %}
{{ form|crispy }}
{% if request.user.is_authenticated %}
<input type='hidden' name='parent_id' value='{{ comment.id }}'>
<button type='submit' class="btn btn-default">Reply</button>
{% else %}
<small>You must <a href='{% url "login" %}'>login</a> to reply</small>
{% endif %}
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
