<footer class="page-footer primary-color-dark center-on-small-only">

<!--Footer Links-->
<div class="container">
<div class="row">

<!--First column-->
<div class="col-md-8">
<h4 class="h4-responsive">Do you want to share?</h4>
<p>
<div class="social">



<!--Facebook-->
<a href=""  style="background-color:#4264aa;" class="btn btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i>
<span class="hidden-md-down">Facebook</span>
</a>


<!--Twitter-->
<a href="" style="background-color:#6cb7f0;" class="btn btn-tw waves-effect waves-light"><i class="fa fa-twitter left"></i>
<span class="hidden-md-down">Twitter</span>
</a>


<!--Google+-->
<a href=""  style="background-color:#e15f4f;" class="btn btn-gplus waves-effect waves-light"><i class="fa fa-google-plus left"></i>
<span class="hidden-md-down">Google+</span>
</a>


</div>
</p>
</div>
<!--/.First column-->
<h4 class="h4-responsive">For more information.</h4>
<p></p>
<div class="social">
<a href=""  style="background-color:#333333;" class="btn waves-effect waves-light"><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i>
<span class="hidden-md-down">About</span>
</a>

<a href=""  style="background-color:#333333;" class="btn waves-effect waves-light"><i class="fa fa-lg fa-phone" aria-hidden="true"></i>
<span class="hidden-md-down">Contact</span>
</a>

</div>
<!--Second column-->
<div class="col-md-6">

</div>
<!--/.Second column-->
</div>
</div>
<!--/.Footer Links-->

<!--Copyright-->
<div class="footer-copyright">
<div class="container-fluid">
<a href="http://jekalviar.pythonanywhere.com"> jekalviar.pythonanywhere.com </a>

</div>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->