{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


 {% block post_detail_link %}
  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
  {% endblock %}



{% block content %}
<div class='col-sm-8 col-sm-offset-2'>
<div class="row">
<div class="card">
<div class="card card-inverse text-xs-center" style="margin-bottom:0px">
      {% if instance.category == "DESIGN" %}
      <header class="card-header card-warning"><a style="color:white" href='http://jekalviar.pythonanywhere.com/?category=DESIGN'>{{ instance.category }}</a></header>
      {% elif instance.category == "PROGRAMMING" %}
      <header class="card-header card-success"><a style="color:white" href='http://jekalviar.pythonanywhere.com/?category=PROGRAMMING'>{{ instance.category }}</a></header>
      {% elif instance.category == "SECURITY" %}
      <header class="card-header card-danger"><a style="color:white" href='http://jekalviar.pythonanywhere.com/?category=SECURITY'>{{ instance.category }}</a></header>
      {% elif instance.category == "TECHNOLOGY" %}
      <header class="card-header" style="background-color: #333333;"><a style="color:white" href='http://jekalviar.pythonanywhere.com/?category=TECHNOLOGY'>{{ instance.category }}</a></header>
      {% endif %}
      </div>
<div class="card-block" style="paddting-top:0px">
  <h2>{{ title }}{% if instance.draft %}<span style='color:red;'> Draft</span> {% endif %}</h2>
  <hr>
  {% if instance.draft %}<h4>Staff only: Draft</h4>{% endif %}{% if instance.publish > today %}<h4>Staff Only: Future Post</h4>{% endif %}
  <p class="text-muted">Author: <a href=''> {{ instance.user.get_full_name }} </a> on {{ instance.publish }} {% if request.user.is_staff and request.user.get_full_name == instance.user.get_full_name %} | <a href='{{instance.get_absolute_url}}edit'> Edit</a> | <a href='{{instance.get_absolute_url}}delete'> Delete</a>{% endif %} </p>
  <p class="text-muted">Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %} {{ instance.read_time }} Minutes {% endif %}</p>
  <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">Tweet</a>
  <hr>

<div class="caption post-detail-item">
<p>{{instance.get_markdown}}</p>
<hr>
</div>

        <p class="lead">Comments {{ comment.count }}</p>
  {% if request.user.is_authenticated %}
  <form method="POST" action="."> {% csrf_token %}
    {{ comment_form|crispy }}
    <button type='submit' class="btn btn-default">Post comment</button>
  </form>

  {% else %}
  <p>You must <a href='{% url "login" %}'>login</a> to comment.</p>
  {% endif %}

  {% for comment in comments %}
  <hr>
  <div class="media">
  <blockquote>
    <a class="media-left">
    <img width="50" height="50" avatar="{{ comment.user.get_full_name }}">
    </a>
    <div class="media-body">
    <p style="margin-bottom:0px"><b><a> {{ comment.user.get_full_name }} </a></b> {{ comment.content }}<br><small class="text-muted">{{ comment.timestamp|timesince }} | </small>  {% if comment.children.count > 0 %} <small  class="text-muted"> {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s {% endif %} | </small>  {% endif %}  <a class='comment-reply-btn' href="#" > <small  class="text-muted"> Reply</a> | </small>  <a class='' href='{{ comment.get_absolute_url }}'><small  class="text-muted">Thread</a></small>

   
    <div class="comment-reply">
    <div class="card-block">
    {% for children_comment in comment.children %}
    <div class="media">
    <a class="media-left">
    <img width="50" height="50" avatar="{{ children_comment.user.get_full_name }}">
    </a>
    <p class="media-body"><b><a> {{ children_comment.user.get_full_name }} </a></b> {{ children_comment.content }}<br><small class="text-muted">{{ comment.timestamp|timesince }} - {{ children_comment.timestamp|timesince }} ago </small> </p>
    {% endfor %}<br>
    <form method="POST" action="."> {% csrf_token %}
    {{ comment_form|crispy }}
    {% if request.user.is_authenticated %}
    <input type='hidden' name='parent_id' value='{{ comment.id }}'>
    <button type='submit' class="btn btn-default">Reply</button>
    </form>
    {% else %}
    <small>You must <a href='{% url "login" %}'>login</a> to reply</small>
    {% endif %}   
  </div>
</div>
</div>
</blockquote>
</div>
{% endfor %}
</div>
</div>
</div>
</div>

{% endblock content %}